@font-face {
    font-family: 'Quicksand';
    src: url('fonts/quicksand-regular.woff2') format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Navigation Bar */

.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    font-weight: bold;
    background-color: white;
}

#navbar-logo {
    background-color: transparent;
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    color: black;
}

.web-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 5px;
    max-height: 70px;
    width: auto;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar-links:hover {
    transition: all 0.5s ease;
    scale: 1.1;
}

@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        padding: 0;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar-menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
        background-color: white;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background-color: black;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }
}

/* --- Homepage Classes --- */

.homepage-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    min-height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    line-height: 1.5;
}

.homepage-content h1 {
    font-size: 4rem;
}

.homepage-btn {
    font-size: 1rem;
    background: #1C847B;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 2rem 0;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.homepage-btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
    background: transparent;
    font-weight: 400;
}

.homepage-btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #42B9B3;
    transition: all 0.3s;
    border-radius: 5px;
}

.homepage-btn:hover {
    color: white;
}

.homepage-btn:hover:after {
    width: 100%;
}

.homepage-img--container {
    text-align: center;
}

#homepage-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
}

.about-us-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: 20px 30px;
    background-color: white;
}

.about-us-container h2 {
    font-size: 2rem;
    text-align: center;
    padding: 20px 30px;
}

.about-us-container p {
    font-size: 1rem;
    padding: 0px 40px;
    word-spacing: 3px;
    line-height: 1.35;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .homepage-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        background-color: white;
        padding: 0px 30px;
    }

    .homepage-content {
        text-align: center;
        margin-bottom: 4rem;
    }

    #homepage-img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        box-shadow: 10px 10px 10px gray;
    }

    .homepage-content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .about-us-container p {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 767px) {
    .homepage-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        min-height: 80vh;
        background-color: white;
        padding: 0px 25px;
    }

    .homepage-content {
        text-align: center;
    }

    #homepage-img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        box-shadow: 10px 10px 10px gray;
    }

    .homepage-content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .about-us-container {
        display: grid;
        grid-template-columns: auto;
        min-height: 100vh;
        width: 100%;
        padding: 0px 10px;
    }

    .about-us-container h2 {
        font-size: 30px;
    }

    .about-us-container p {
        font-size: 15px;
        padding: 20px;
    }
}

/* --- Officer Page Classes --- */

.officer-welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: left;
    justify-self: center;
    margin: 0 auto;
    height: 30vh;
    width: 100%;
    max-width: 1300px;
    padding: 150px 80px;
    border-bottom: 1px dashed black;
    line-height: 1.5;
    background-color: white;
}

.officer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    background-color: white;
}

.officer-card {
    border: 10px double lightgray;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    align-items: center;
    justify-self: center;
    background-color: #d5ffff;
    box-shadow: 10px 10px 10px gray;
}

#officer-img {
    height: 100%;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.officer-content {
    text-align: center;
    row-gap: 5px;
}

.officer-content h1 {
    font-size: 1.5rem;
}

.officer-content p {
    padding: 5px 25px;
    font-size: 0.9rem;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.officer-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card-back {
    transform: rotateY(180deg);
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .officer-welcome {
        grid-template-columns: auto;
    }

    .officer-card {
        padding: 10px;
    }

    .officer-content h1 {
        font-size: 2vw;
    }

    .officer-content p {
        font-size: 1.25vw;
        line-height: 1.1;
        padding: 5px 5px;
    }
}

@media screen and (max-width: 767px) {
    .officer-welcome {
        grid-template-columns: auto;
    }

    .officer-container {
        grid-template-columns: 1fr;
        height: auto;
        padding: 0px;
    }

    .officer-card {
        grid-template-columns: 1fr 1.75fr;
        height: auto;
        padding: 3vw;
    }    

    .officer-content h1 {
        font-size: 4vw;
    }

    .officer-content p {
        font-size: 2.5vw;
        padding: 5px 5px;
    }

    #officer-img {
        width: 100%;
        border: 0.25px solid black;
        border-radius: 10px;
    }

    .officer-bio {
        height: 100px;
    }
}

/* --- Events Page Classes --- */

.event-container {
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0 50px;
    margin: 30px auto;
}

.event-container h1 {
    font-size: 2.5rem;    
}

.upcoming-events {
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-gallery-container {
    width: 100%;
    max-width: 1300px;
    margin: 10px auto;
    padding: 0 50px;
}

.event-pic-container {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.event-pic {
    max-height: 20vh;
    width: auto;
    border-radius: 20px;
}

.overlay-text {
    position: absolute;
    inset: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s linear;
    padding: 10px;
    text-shadow: 0px 0px 3px black;
}

.event-pic-container:hover .overlay-text {
    opacity: 1;
}

details > summary {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 50px;
    width: 100%;
    max-width: 1300px;
    align-items: center;
    justify-self: center;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    background-color: lightblue;
}

details {
    margin: 0 30px;
}


/* --- Schedule Page Classes --- */

.schedule-div {
    border: 1px solid black;
    border-radius: 20px;
}

/* --- Card Classes --- */

.card-welcome {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: 50px 50px;
    gap: 50px;
    line-height: 2;
    background-color: white;
    border-bottom: 1px dashed black;
}

.card-welcome h1 {
    font-size: 3rem;
    text-align: center;
}

.card-welcome h2 {
    font-size: 2rem;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: 50px 50px;
    gap: 50px;
    background-color: white;
}

.card {
    width: 100%;
    height: auto;
}

.map {
    width: 100%;
    height: auto;
    border: 8px solid white;
    border-radius: 20px;
    margin-top: 10px;
}

.route-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-self: center;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.route-info > div:last-child {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.route-info.common {
    background-color: #CC8233;
    border: 2px solid #7d501f;
    box-shadow: 10px 10px 10px #7d501f;
}

.route-info.uncommon {
    background-color: #2ED1C3;
    border: 2px solid #21948a;
    box-shadow: 10px 10px 10px #21948a;
}

.route-info.rare {
    background-color: #DEB27D;
    border: 2px solid #cb8938;
    box-shadow: 10px 10px 10px #cb8938;
}

.route-info.epic {
    background-color: #B492F6;
    border: 2px solid #854ff1;
    box-shadow: 10px 10px 10px #854ff1;
}

.route-info.legendary {
    background-color: #F4E494;
    border: 2px solid #ebce3a;
    box-shadow: 10px 10px 10px #ebce3a;
}

.route-info p {
    line-height: 1.5;
    padding: 15px;
    border: 8px solid white;
    border-radius: 20px;
    font-size: 0.9rem;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
    font-size: 0.75rem;
}

.route-info.common p {
    background-color: #7d501f;
}

.route-info.uncommon p {
    background-color: #21948a;
}

.route-info.rare p {
    background-color: #cb8938;
}

.route-info.epic p {
    background-color: #854ff1;
}

.route-info.legendary p {
    background-color: #ebce3a;
}

.route-info figcaption {
    text-align: center;
    margin: 5px;
    font-weight: bold;
    font-size: 0.8rem;
}

.card-group {
    max-width: 1300px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100px;
    display: flex;
}

.card-group a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.card-group a:hover {
    scale: 1.1;
    transition: 0.3s ease;
}

.card-group.common {
    background-color: #CC8233;
    border: 2px solid #7d501f;
    box-shadow: 10px 10px 10px #7d501f;
}

.card-group.uncommon {
    background-color: #2ED1C3;
    border: 2px solid #21948a;
    box-shadow: 10px 10px 10px #21948a;
}

.card-group.rare {
    background-color: #DEB27D;
    border: 2px solid #cb8938;
    box-shadow: 10px 10px 10px #cb8938;
}

.card-group.epic {
    background-color: #B492F6;
    border: 2px solid #854ff1;
    box-shadow: 10px 10px 10px #854ff1;
}

.card-group.legendary {
    background-color: #F4E494;
    border: 2px solid #ebce3a;
    box-shadow: 10px 10px 10px #ebce3a;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    .route-info {
        display: grid;
        grid-template-columns: 1fr 0.8fr;
    }

    .card-welcome h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .card-welcome h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .route-info p {
        font-size: 1vw;
        min-height: 100%;
        border: 6px solid white;
    }

    .route-info figcaption {
        font-size: 1vw;
    }

    .map {
        border: 6px solid white;
    }
}

@media screen and (max-width: 767px) {
    .card-welcome {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        min-height: 10vh;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
        line-height: 2;
    }

    .card-welcome h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .card-welcome h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .card-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1300px;
        padding: 40px 30px;
        gap: 50px;
        margin-bottom: 30px;
    }

    .card-container h1 {
        font-size: 1.5rem;
    }

    .route-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        width: 100%;
        border-radius: 20px;
        padding: 10px;
        gap: 10px;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .route-info p {
        font-size: 2.5vw;
        border: 4px solid white;
        padding: 15px;
        line-height: 1.25;
    }

    .route-info figcaption {
        font-size: 2vw;
    }

    .map {
        border: 4px solid white;
    }
}

/* --- Footer Classes -- */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  padding: 50px 0;
  flex-direction: column;
  line-height: 2;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
  border-top: 1px dashed black;
  min-height: 50px;
}

.footer-icon {
  width: 50px;
}

.footer-icon:hover {
    transition: 0.3s ease;
    scale: 1.2;
}